.flex-container {
    display: flex;
    height: 531px;
    width: 100%;
    background-color: #fff;
}

.flex-child {
    flex: 1;
   
}  
.left{
    /* padding: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    padding: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Vertically center the content */
  }
  
.flex-child:first-child {
    margin-right: 0px;
} 
.rightImage{
    width: 585px;
height: 462px;
flex-shrink: 0;
padding: 3px;
padding-left: 0;
}
h1{
    color: #17748F;
text-align: center;

/* Hero text */
font-family: Outfit;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 100px; /* 104.167% */
text-transform: capitalize;
}
p{
    color: #17748F;
font-family: Outfit;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 133.333% */
text-transform: capitalize; 
}.searchbar-container {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    padding: 10px;
  }
  
  .search-form {
    /* width: 20%; */
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    overflow: hidden;
  }
  
  input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  